### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"
P
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path, encoding="utf-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Calculate the total players based on the unique identifer "Screen Name" which is called out as "SN"
total_players = len(purchase_data_df["SN"].value_counts())
# DataFrame for the total players
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculations for unique items, average price, total revenue and number of purchases
unique_items = len((purchase_data_df["Item ID"]).unique())
avg_price = (purchase_data_df["Price"]).mean()
numb_purchases = (purchase_data_df["Purchase ID"]).count()
ttl_revenue = (purchase_data_df["Price"]).sum()

# Create a summary DataFrame to hold results
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                          "Average Price":[avg_price], "Number of Purchases":[numb_purchases],
                          "Total Revenue":[ttl_revenue]})

# Display the summary DataFrame
summary_df.style.format({'Average Price': "${:,.2f}",
                        'Total Revenue': "${:,.2f}"})

summary_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Create Demographics for the percentage and count of Male/Female players
# Create Demographics for the percentage and count of other/non-disclosed players
gender_demo = purchase_data_df.groupby("Gender")

total_gender = gender_demo.nunique()["SN"]

percentage_players = total_gender / total_players * 100

# Create a new DataFrame
gender_demo = pd.DataFrame({"Percentage of Players": percentage_players, "Total Count": total_gender})

gender_demo.index.name = None

gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculations for purchase count, average purchase prices, total purchase value, average purchase total per person, by gender
gender_stats = purchase_data_df.groupby("Gender")

purch_count = gender_stats["Purchase ID"].count()

avg_purch_price = gender_stats["Price"].mean()

avg_purch_total = gender_stats["Price"].mean()

avg_purch_person = avg_purch_total / total_gender

# Summarize the DataFrame to hold the results - give the data a clean format-optional
gender_demo = pd.DataFrame({"Purchase Count": purch_count, 
                            "Average Purchase Price": avg_purch_price, 
                            "Average Purchase Value": avg_purch_total, 
                            "Average Total per Person": avg_purch_person})
# Display the summarized DataFrame
gender_demo.index.name = "Gender"

gender_demo.style.format({"Average Purchase Value": "${:.2f}", 
                         "Average Purchase Price": "${:.2f}", 
                         "Average Total per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Create bins for the ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
bin_groups = ["0 to 9", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

# Categorize the existing players using age bins
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_groups)
purchase_data_df

# Calculate the numbers and percentages by age group
age_group = purchase_data_df.groupby("Age Group")

total_age_count = age_group["SN"].nunique()

percent_count = (total_age_count / total_players) * 100

# Create a summary DataFrame to hold the results rounding percentage column to 2 decimal points - optional
age_demo = pd.DataFrame({"Percentage of Players": percent_count, "Total Count": total_age_count})

age_demo.index.name = None

age_demo.style.format({"Percentage of Players":"{:,.2f}"})

# Display the Age Demographics Table
age_demo

          Percentage of Players  Total Count
0 to 9                 2.951389           17
10 to 14               3.819444           22
15 to 19              18.576389          107
20 to 24              44.791667          258
25 to 29              13.368056           77
30 to 34               9.027778           52
35 to 39               5.381944           31
40+                    2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Bin the purchase_data frame by age
purch_count_age = age_group["Purchase ID"].count()
# Calculations for purchase count, avg. purchase price, avg. purchase total/person
avg_purch_price = age_group["Price"].mean()

total_purch_value = age_group["Price"].sum()

avg_purch_person = total_purch_value/total_age_count

# Create a summary DataFrame for the results - opt-give data a clean format
age_demo = pd.DataFrame({"Purchase Count": purch_count_age, 
                         "Average Purchase Price": avg_purch_person, 
                         "Total Purchase Value": total_purch_value, 
                         "Average Purchase Total per Person": avg_purch_person})

age_demo.index.name = None

# Display the summary DataFrame
age_demo.style.format({"Average Purchase Price": "${:,.2f}", 
                      "Total Purchase Value": "${:,.2f}", 
                      "Average Purchase Total per Person": "${:,.2f}",})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
# Calculations for the top spenders
spend_stats = purchase_data_df.groupby("SN")

purch_count = spend_stats["Purchase ID"].count()

avg_purch_person = spend_stats["Price"].mean()

total_purch_spend = spend_stats["Price"].sum()

# Create a summary DataFrame to hold the results
top_spenders = pd.DataFrame({"Purchase Count": purch_count, 
                            "Average Purchase Price": avg_purch_person, 
                            "Total Purchase Value": total_purch_spend})

# Sort the total purchase value column in descending order - opt-cleaner formatting
descend_format = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
                                          
# Display the DataFrame
descend_format.style.format({"Average Purchase Total": "${:,.2f}", 
                           "Average Purchase Price": "${:,.2f}", 
                           "Total Purchase Value": "${:,.2f}"})

Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
# Create the Item ID, Item Name and Item Price Columns
items = purchase_data_df[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name.  Include calcs to obtain purchase count, average item price and total purchase value
item_stats = items.groupby(["Item ID", "Item Name"])

purch_count = item_stats["Price"].count()

purch_value = (item_stats["Price"]).mean()

item_price = purch_value/purch_count

# Create a summary DataFrame to hold the results
most_popular = pd.DataFrame({"Purchase Count": purch_count, 
                             "Item Price": item_price, 
                             "Total Purchase Value": purch_value})

# Sort the purchase count column in descending order - opt: clean the formatting
popular_format = most_popular.sort_values(["Purchase Count"], ascending=False).head()

# Display a preview of the summary DataFrame
popular_format.style.format({"Item Price":"{:,.2f}", 
                          "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [31]:
# Sort the total purchase value column in descending order - opt: clean the formatting
popular_format = most_popular.sort_values(["Total Purchase Value"], ascending=False).head()

# Display a preview of the summary DataFrame
popular_format.style.format({"Item Price":"{:,.2f}", 
                          "Total Purchase Value":"${:,.2f}"})